<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.ErrorCode</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <META name="robots" content="NOINDEX,NOFOLLOW">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css?1422792965")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/materialadmin.css?1425466319")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css?1422529194")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/material-design-iconic-font.min.css?1421434286")" />
    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="@Url.Content("~/assets/js/libs/utils/html5shiv.js?1403934957")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/libs/utils/respond.min.js?1403934956")"></script>
    <![endif]-->
</head>
<body class="menubar-hoverable header-fixed ">


    <!-- BEGIN HEADER-->
 <!--   <header id="header">
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <a href="@Url.Action("IndexItems", "Series")">
                            <img style="padding-top: 14px; margin-right:12px;" src="@Url.Content("~/assets/img/gtp-logo.jpg")" />
                        </a>
                        <div class="brand-holder">
                            <span class="text-lg text-bold text-primary">GTP ToolBox</span>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("IndexItems", "Series")" type="button" style="@(Url.Action("IndexItems", "Series") == HttpContext.Current.Request.Url.LocalPath ? "background-color: #336ba8; color: #fff;" : "color:#000;")" class="btn ink-reaction btn-flat btn-primary">Products</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Documents", "Series")" type="button" style="@(Url.Action("Documents", "Series") == HttpContext.Current.Request.Url.LocalPath ? "background-color: #336ba8; color: #fff;" : "color:#000;")" class="btn ink-reaction btn-flat btn-primary">Documents</a>
                    </li>
                </ul>
            </div>

            <div class="headerbar-right">
                <ul class="header-nav header-nav-options">
                </ul>

            </div>
        </div>
    </header>-->
    <!-- END HEADER-->



    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <br/>
        <!-- BEGIN 500 MESSAGE -->
        <section>
            <div class="section-header">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">@ViewBag.ErrorCode</li>
                </ol>
            </div>
            <div class="section-body contain-lg">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1><span class="text-xxxl text-light">@ViewBag.ErrorCode <i class="fa fa-exclamation-circle text-danger"></i></span></h1>
                        <h2 class="text-light">Sorry, we are out of server space.:)</h2>
                        @if (ViewBag.ErrorCode != 404)
                        {
                            <h2 class="text-light">Just kidding, we are currently in maintenance mode.</h2>
                            <h2 class="text-light">Please refresh the site or come back later.</h2>
                            <h2 class="text-light">Or simply visit our <a href="/">homepage.</a></h2>
                        }
                        @if (ViewBag.ErrorCode == 404)
                        {
                            <h2 class="text-light">Just kidding, the site you have requested is not available on GTP ToolBox.</h2>
                            <h2 class="text-light">Please visit our <a href="/">homepage.</a></h2>   
                        }
                    </div><!--end .col -->
                </div><!--end .row -->
            </div><!--end .section-body -->
        </section>
        <!-- END 500 MESSAGE -->


    </section>
    <!-- END LOGIN SECTION -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="@Url.Content("~/assets/js/libs/jquery/jquery-1.11.2.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/spin.js/spin.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/autosize/jquery.autosize.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/App.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppNavigation.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppOffcanvas.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppCard.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppForm.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppNavSearch.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppVendor.js")"></script>
    <script src="@Url.Content("~/assets/js/core/demo/Demo.js")"></script>
    <!-- END JAVASCRIPT -->

</body>
</html>