<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Thank you for register</title>

        <!-- Google Tag Manager -->
        <script>        
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({ 'gtm.start':
                new Date().getTime(), event: 'gtm.js'
                    }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-T8FP476');</script>
        <!-- End Google Tag Manager -->
        <!-- heap analytics -->
        <script type="text/javascript">
            window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = o(p[c]) };
            heap.load("3769334736");
        </script>
        <!-- end of heap analytics -->

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
        <META name="robots" content="NOINDEX,NOFOLLOW">
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css?1422792965")" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/materialadmin.css?1425466319")" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css?1422529194")" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/material-design-iconic-font.min.css?1421434286")" />
		
		<!-- BEGIN auth css-->
		<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css' />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/material.indigo-blue.min.css")" />
		<link type="text/css" rel="stylesheet" href="https://rawgit.com/MEYVN-digital/mdl-selectfield/master/mdl-selectfield.min.css" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/auth.css")" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/Helpers.css")" />
		<!-- END auth css-->

		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="@Url.Content("~/assets/js/libs/utils/html5shiv.js?1403934957")"></script>
		<script type="text/javascript" src="@Url.Content("~/assets/js/libs/utils/respond.min.js?1403934956")"></script>
		<![endif]-->
	</head>
	<body class="mdl-color--blue-500">
    @model Crunching.Models.LogOnModel
		
	<!-- BEGIN LOGIN SECTION -->
		<div class="center-panels">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
					<div class="login-panel">
						<div class="demo-card-wide mdl-card mdl-shadow--8dp mdl-card--wide">
							<div class="row">
								<div style="text-align: center;">
									<div class="login-logo">
										<img src="@Url.Content("~/assets/img/gtp-logo.jpg")" alt="" />
									</div>
									<div class="row login-logo-text">
										<p>GTP</p>
										<p>ToolBox</p>
									</div>
								</div>
							</div>
							<div class="mdl-card__actions">
								<div class="row">
									<div class="col-xs-10 col-xs-offset-1">
										<div class="success-tick">
											<div class="tick">
												<i id="done_all" class="material-icons">done_all</i>
											</div>
											<div class="tick-text">
												<p>Registration is <span class="text-color--blue font-600">Successful!</span></p>
												<p>Please check your email and get back to us, so we create your password</p>
											</div>
										</div>
										<div class="mail-list">
											<div class="row">
												<div class="col-xs-2">
													<a href="https://www.gmail.com" target="_blank">
														<img class="mail-icon" src="https://cdn4.iconfinder.com/data/icons/free-colorful-icons/360/gmail.png" alt="" />
													</a>
												</div>
												<div class="col-xs-2">
													<a href="https://mail.yahoo.com/" target="_blank">
														<img class="mail-icon" src="http://www.myiconfinder.com/uploads/iconsets/36814e9d85fe1ce6ff0cb208b4f5af15-yahoo.png" alt="" />
													</a>
												</div>
												<div class="col-xs-2">
													<a href="https://www.hotmail.com/" target="_blank">
														<img class="mail-icon" src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/128/Live_Hotmail_alt.png" alt="" />
													</a>
												</div>
												<div class="col-xs-2">
													<a href="https://mail.aol.com/" target="_blank">
														<img class="mail-icon" src="https://lh3.ggpht.com/oJx9HgvyyM6Gk1B2wh8_S1drVBgToEn1KH5WIgX6r4l_lrDLZPY935YgeLGO67qxSh8=w300" alt="" />
													</a>
												</div>
												<div class="col-xs-2">
													<a href="https://www.outlook.com/" target="_blank">
														<img class="mail-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Outlook.com_icon.svg/1014px-Outlook.com_icon.svg.png" alt="" />
													</a>
												</div>
												<div class="col-xs-2">
													<a href="https://www.mail.com/" target="_blank">
														<img class="mail-icon" src="http://media.idownloadblog.com/wp-content/uploads/2015/09/iCloud-Icon.png" alt="" />
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="login-footer">
									<p>
										<a href="@Url.Action("signIn")" text-color--blue font>LOG IN</a> or <a href="@Url.Action("signUp")" text-color--blue font>SIGN UP</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				<!-- END LOGIN SECTION -->

				<!-- BEGIN JAVASCRIPT -->
				<script src="@Url.Content("~/assets/js/libs/jquery/jquery-1.11.2.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/bootstrap/bootstrap.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/spin.js/spin.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/autosize/jquery.autosize.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/App.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppNavigation.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppOffcanvas.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppCard.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppForm.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppNavSearch.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppVendor.js")"></script>
				<script src="@Url.Content("~/assets/js/core/demo/Demo.js")"></script>
		
				<!-- BEGIN auth js-->
				<script src="@Url.Content("~/assets/js/libs/material.min.js")"></script>
				<script src="https://rawgit.com/MEYVN-digital/mdl-selectfield/master/mdl-selectfield.min.js"></script>
				<!-- END auth js-->
				<!-- END JAVASCRIPT -->
                
			</body>
		</html>
