    <!--   <div class="footer-gtp">
            <a href="/imprint">Imprint</a>
        </div>-->
    </div>

    <div class="modal fade" id="TaskModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
        <div class="modal-dialog add-overlay">
            <div class="modal-content">
                <!-- CONTENT CONTENT CONTENT CONTENT -->
            </div>
        </div>
    </div>

    <!-- BEGIN JAVASCRIPT -->
    <script src="@Url.Content("~/assets/js/libs/jquery/jquery-1.11.2.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/spin.js/spin.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/autosize/jquery.autosize.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js")"></script>
    <script src="@Url.Content("~/assets/js/libs/dropzone/dropzone.min.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/App.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppNavigation.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppOffcanvas.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppCard.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppForm.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppNavSearch.js")"></script>
    <script src="@Url.Content("~/assets/js/core/source/AppVendor.js")"></script>
    <script src="@Url.Content("~/assets/js/core/demo/Demo.js")"></script>
    <!-- END JAVASCRIPT -->

    <script type="text/javascript">
        // use readyfunc for assigning any jquery document ready events
        if (window.readyfunc && typeof readyfunc == "function") {
            $(document).ready(readyfunc);
        }
    </script>

</body>
</html>