<!DOCTYPE html>
<html lang="en" ng-app="plunker" >
<head>
	<title>GTP ToolBox</title>

    <script>        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({ 'gtm.start':
    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T8FP476');</script>
    <!-- End Google Tag Manager -->
    <!-- heap analytics -->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(a, n); for (var o = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = o(p[c]) };
        heap.load("3769334736");
    </script>
    <!-- end of heap analytics -->

	<!-- BEGIN META -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="keywords" content="your,keywords"/>
	<meta name="description" content="overview &amps; stats"/>
	<meta name="robots" content="NOINDEX,NOFOLLOW"/>

	<link rel='shortcut icon' href="@Url.Content("~/assets/img/favicon.ico")" type='image/x-icon'/>
  
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/materialadmin.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/material-design-iconic-font.min.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/libs/dropzone/dropzone-theme.css")" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/material.indigo-blue.min.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/Helpers.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/auth.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/libs/DataTables/jquery.dataTables.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/libs/ekko-lightbox/ekko-lightbox.min.css")" />
	<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/styles.css")" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/libs/bootstrapValidator/bootstrapValidator.min.css")" />

    <!-- Hotjar Tracking Code for http://www.gtptoolbox.com -->
	<script type="text/javascript">
	    (function (h, o, t, j, a, r) {
	        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
	        h._hjSettings = { hjid: 142239, hjsv: 5 };
	        a = o.getElementsByTagName('head')[0];
	        r = o.createElement('script'); r.async = 1;
	        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
	</script>

    @Html.Partial("refreshPage")

</head>

<body class="menubar-hoverable header-fixed menubar-pin mdl-color--blue-500" ng-controller="MainCtrl">
<!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8FP476"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<!-- BEGIN HEADER-->
	<header id="header">
		<div class="headerbar">
			<div class="headerbar-left">
				<ul class="header-nav header-nav-options">
					<li class="header-nav-brand"  onclick="window.location.href='@Url.Action("Index", "Catalog")';" style="cursor: pointer;">
						<div class="row">
							<div class="logo">
								<img src="@Url.Content("~/assets/img/gtp-logo.jpg")" alt="" />
							</div>
							<div class="row logo-text">
								<p>GTP</p>
								<p>ToolBox</p>
							</div>
						</div>
					</li>
					<li style="margin-left:50px;">
						<a href="@Url.Action("Index", "Catalog")" class="mainmenu-link  @(Url.Action("Index", "Catalog") == HttpContext.Current.Request.Url.LocalPath ? "active" : "")">Products</a>
					</li>
					@if (ViewBag.HideUserPanel == null || (ViewBag.HideUserPanel != null && !ViewBag.HideUserPanel))
                     {
                         if (ViewBag.ShowAnonUserPanel == null || (ViewBag.ShowAnonUserPanel != null && !ViewBag.ShowAnonUserPanel))
                         {
							<li><a href="@Url.Action("Index", "Documents")" class="mainmenu-link @(Url.Action("Index", "Documents") == HttpContext.Current.Request.Url.LocalPath ? "active" : "")">Documents</a></li>
                         }
                     }
					<li>
						<a href="@Url.Action("Index", "Calc")" class="mainmenu-link @(Url.Action("Index", "Calc") == HttpContext.Current.Request.Url.LocalPath ? "active" : "")">Calculator</a>
					</li>
					@if (Session["PERMACCESSTICKETS"] != null && (bool)Session["PERMACCESSTICKETS"] == true)
                    {
						<li>
							<a href="@Url.Action("Index", "Items")" class="mainmenu-link @(Url.Action("Index", "Items") == HttpContext.Current.Request.Url.LocalPath ? "active" : "")">Tickets (testing)</a>
						</li>
                    } 
                    @if (Session["PERMVIEWVISITREPORTS"] != null && (bool)Session["PERMVIEWVISITREPORTS"] == true)
                    {
						<li>
							<a href="@Url.Action("Index", "VisitReports")" class="mainmenu-link @(Url.Action("Index", "VisitReports") == HttpContext.Current.Request.Url.LocalPath ? "active" : "")">Visit Reports</a>
						</li>
                    }                    
				</ul>
			</div>

			<div class="headerbar-right">
                <button type="button" class="btn ink-reaction btn-default-bright" onclick="window.location.href='@Url.Action("Index", "VisitReportsTasks")';">Show all my tasks</button>
				<li style="position: relative; list-style: none; float: left;">
					<a data-toggle="modal" data-target="#agbModal" href="#" class="" id="faq-header">FAQ</a>
				</li>

				@if (ViewBag.HideUserPanel == null || (ViewBag.HideUserPanel != null && !ViewBag.HideUserPanel))
                {
                if (ViewBag.ShowAnonUserPanel == null || (ViewBag.ShowAnonUserPanel != null && !ViewBag.ShowAnonUserPanel))
                {
				<ul class="header-nav header-nav-profile">
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
							<!-- <img src="@Url.Content("~/assets/avatars/avatar-default.jpg")" alt="" />-->
							<span class="profile-info">
								@Session["USERNAME"]
								<small>
									@if (Session["BUSINESSROLE"] != null && Session["BUSINESSROLE"].ToString().Trim() == "GTP Team")
                                     { <text>GTP Team</text>}
                                     else if (Session["BUSINESSROLE"] != null && Session["BUSINESSROLE"].ToString().Trim() == "Customer")
                                     { <text>@Session["TENANT"]</text>}
                                     else
                                     {@Session["BUSINESSROLE"]}
								</small>
							</span>

						</a>
						<ul class="dropdown-menu animation-dock">
							@if (Session["PERMADMIN"] != null && Session["PERMADMIN"].ToString().Trim() == "True")
                            {
	                            <li><a href="@Url.Action("Index", "Users")">Manage users</a></li>
                            }
                            @if (Session["PERMASSIGNCUSTOMERSTOPRODUCTS"] != null && (bool)Session["PERMASSIGNCUSTOMERSTOPRODUCTS"] == true)
                            {
								<li><a href="@Url.Action("Index", "Customers")">Manage customers</a></li>
                            }
                            @if (Session["PERMADMIN"] != null && Session["PERMADMIN"].ToString().Trim() == "True")
                            {
								<li><a href="@Url.Action("Index", "Products")">Manage products</a></li>
								<li><a href="@Url.Action("manageDocuments", "Documents")">Manage documents</a></li>								
                            }
							@if (Session["BUSINESSROLE"] != null && (Session["BUSINESSROLE"].ToString().Trim() == "GTP KAM") || (Session["BUSINESSROLE"].ToString().Trim() == "GTP General Manager"))
                            {
								<li class="divider"></li>
                            }
                            <li><a href="@Url.Action("EditProfile", "Account")"><i class="fa fa-fw fa-edit"></i> Edit Profile</a></li>
							<li><a href="@Url.Action("ChangePassword", "Account")"><i class="fa fa-fw fa-lock"></i> Change password</a></li>
							<li class="divider"></li>
							<li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
						</ul>
					</li>
			    </ul>
                }
            }
        <!-- If the user is logged on, add the markup for the google analytics -->
        @if (ViewBag.HideUserPanel == null || (ViewBag.HideUserPanel != null && !ViewBag.HideUserPanel))
        {
            if (ViewBag.ShowAnonUserPanel == null || (ViewBag.ShowAnonUserPanel != null && !ViewBag.ShowAnonUserPanel))
            {
                <script type="text/javascript">
                    dataLayer.push({ 'roleType': '@Session["BUSINESSROLE"]', 'event': 'user' });
   	            </script>	
            }
        }
    </div>
</div>
	</header>

	<!-- END HEADER-->

	<div id="base">