<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Set password</title>

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
        <META name="robots" content="NOINDEX,NOFOLLOW">
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css?1422792965")" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/materialadmin.css?1425466319")" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css?1422529194")" />
		<link type="text/css" rel="stylesheet" href="@Url.Content("~/assets/css/material-design-iconic-font.min.css?1421434286")" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="@Url.Content("~/assets/js/libs/utils/html5shiv.js?1403934957")"></script>
		<script type="text/javascript" src="@Url.Content("~/assets/js/libs/utils/respond.min.js?1403934956")"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed ">
    @model Crunching.Models.ChangePasswordModel
		<!-- BEGIN LOGIN SECTION -->
		<section class="section-account">
            <br /><br /><br /><br />
			<div class="card contain-sm style-transparent">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<br/>
							<span class="text-lg text-bold text-primary">Set new password</span>
                            <p>
                                Error when setting a new password. 
                            </p>
                            <p>
                                @Html.Raw(ViewBag.errorMsg)
                            </p>
						</div><!--end .col -->
						<div class="col-sm-5 col-sm-offset-1 text-center">
								<h3 class="text-light">
									Already have an account?
								</h3>
								<a class="btn btn-block btn-raised btn-info" href="@Url.Action("signIn", "Account")">Login here</a>
								<br><br>
									<p>GTP ToolBox is a free service provided by GTP Schäfer GmbH.</p>
                                    <p>As a customer or GTP employee you benefit from various features that makes life and work easier.</p>    
                                    <p>Signing up we will typically confirm your business role within 48 hours.</p>
								</div><!--end .col -->
							</div><!--end .row -->
						</div><!--end .card-body -->
					</div><!--end .card -->
				</section>
				<!-- END LOGIN SECTION -->

				<!-- BEGIN JAVASCRIPT -->
				<script src="@Url.Content("~/assets/js/libs/jquery/jquery-1.11.2.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/bootstrap/bootstrap.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/spin.js/spin.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/autosize/jquery.autosize.min.js")"></script>
				<script src="@Url.Content("~/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/App.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppNavigation.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppOffcanvas.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppCard.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppForm.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppNavSearch.js")"></script>
				<script src="@Url.Content("~/assets/js/core/source/AppVendor.js")"></script>
				<script src="@Url.Content("~/assets/js/core/demo/Demo.js")"></script>
				<!-- END JAVASCRIPT -->

			</body>
		</html>
