@model IEnumerable<Crunching.Models.Users>
@{
    Layout = null;
}

@Html.Partial("InitContacts")

    <div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
			    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="@Url.Action("Index","Home")">Home</a>

					<span class="divider">
						<i class="icon-angle-right arrow-icon"></i>
					</span>
				</li>
				<li class="active">Contacts</li>
			</ul><!--.breadcrumb-->
		</div>
		<div class="page-content">
			
			<div class="row-fluid">
				<div class="span12">
					<!--PAGE CONTENT BEGINS-->
                    <div class="row-fluid">
                        
                        <div class="clearfix">
                        <h4 class="lighter smaller">
							<i class="icon-rss orange"></i> Contacts
                        </h4>
				               
                        </div>
						<div class="table-header">
							List of Contacts
						</div>
                        <table id="tUsers" class="table table-striped table-bordered table-hover">
							<thead>
									<tr>
                                        <th>Name</th>
                                        <th>Position</th>
										<th>Email</th>
                                        <th>Phone</th>
                                 	</tr>
								</thead>

								<tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                        
                                         <td><img style="width:32px;height:32px" src="@Url.Content("~/Content/images/" + item.image)" /> @item.name </td>
                                           <td> @item.position</td>
                                            <td>@item.email</td>
                                            <td>@item.phone</td>
                                        
<!--                                            <td><button class="btn btn-mini" onclick="window.location.href = 'http://@item.links'">Go to links</button></td>-->
									    </tr>
                                    }
								</tbody>
						</table>
                    </div>
					<!--PAGE CONTENT ENDS-->
				</div><!--/.span-->
			</div><!--/.row-fluid-->
		</div><!--/.page-content-->

	</div><!--/.main-content-->

@Html.Partial("end")	

<script>
    function myFunction(p12) {
        alert( p12);              // the function returns the product of p1 and p2
    }
</script>