@model Crunching.Models.ChangePasswordModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}
@Html.Partial("InitGuest")
<link href="@Url.Content("~/assets/css/dropzone.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<header id="header-filter" class="header-close">
    <div class="header-filter-menu">
        <a href="@Url.Action("IndexByTenant", "Users", new { id = ViewBag.idTenant})" class="margin-right-xxl margin-left-xxl" style="color:#fff;"><i class="fa fa-long-arrow-left margin-right-xl"></i> Close</a>
    </div>
</header>
<!-- BEGIN CONTENT-->
<div id="content">
    <section>
        <div class="section-body contain-lg">

            <!-- INTRO BEGIN -->
            <div class="row margin-bottom-xxl">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="text-primary" style="color:#fff;">Set new password</h1>
                    <p>
                        An activation link has been sent succesfully 
                    </p>
                </div><!--end .col -->
                
            </div><!--end .row -->
            <!-- END INTRO -->

        </div><!--end .section-body -->
    </section>
</div><!--end #content-->
@Html.Partial("end")
<script>
    $(document).ready(
        $('#my-awesome-dropzone').dropzone({
            url: '/Tickets/CreateProject',
            paramName: "files",
            uploadMultiple: false
        })
    );
</script>