@model Crunching.Models.Milestones

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@Html.Partial("Init")

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <header id="header-filter" class="header-close">
        <div class="header-filter-menu">
            <a href="@Url.Action("Index", "Items")" class="margin-right-xxl margin-left-xxl" style="color:#fff;"><i class="fa fa-long-arrow-left margin-right-xl"></i> Close, back to stream</a>
        </div>
    </header>
    <!-- END HEADER-->
    <!-- BEGIN CONTENT-->
    <div id="content">
        <section>
            <div class="section-body contain-lg">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <!-- INTRO BEGIN -->
                    <div class="row margin-bottom-xxl">
                        <div class="col-sm-10 col-sm-offset-1">
                            <article class="margin-bottom-xxl">
                                <p class="breadcrumb-gtp" style="color:#D8E5EF;">
                                    <span class="breadcrumb-gtp-first"><a href="@Url.Action("Index", "Items", new { type =4 })">All Milestones</a></span><i class="fa fa-angle-right"></i>
                                    <span class="breadcrumb-gtp-second">@Html.DisplayFor(m => m.activationDate)</span>
                                </p>
                            </article>
                        </div><!--end .col -->
                    </div><!--end .row -->
                    <!-- END INTRO -->


                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 margin-bottom-xxl">
                            <em class="text-caption" style="color:#fff;">@Html.DisplayFor(m => m.cDate)</em>
                            <div class="card  card-underline ">
                                <div class="card-head-with-button-right card-head card-head-lg">
                                    <header>
                                        <i class="fa fa-newspaper-o margin-right-xl"></i>Date : @Html.Raw(Model.activationDate == null ? "<i>Not provided</i>" : @Model.activationDate.ToShortDateString())
                                    </header>
                                </div>

                                <div class="card-body">
                                    <div class="row margin-bottom-xxl">
                                        <div class="col-sm-12">
                                            <p>
                                                @Html.DisplayFor(m => m.text)
                                            </p>
                                        </div>
                                    </div>
                                </div><!--end .card -->
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </div><!--end .section-body -->
                }
            </div>
        </section>
    </div><!--end #content-->
@Html.Partial("end")

